body {
    background: linear-gradient(to right, black, grey);
}
.header{
    display:flex;
    color: white;
    justify-content: space-between;
    font-size: 2em;
}
.links{
    display: flex;
    gap:30px;
}
a{
    color:white;
}
.header button {
    background-color: #FFC71C;
    height: 40px;
    width: 130px;
    border-radius: 1.2em;
}
.about{
    justify-content: center; 
    color: white;
    position: absolute;
    top:35%;
    text-align:center;
    margin: 20px;
}


 button {
    background-color: #FFC71C;
    height: 40px;
    width: 150px;
    color: black;
    border-radius: 1.2em;
}