body {
    background: linear-gradient(to right, black, grey);
}
.header{
    display:flex;
    color: white;
    justify-content: space-between;

}
a{
    color:white;
}
.header button {
    background-color: #FFC71C;
    height: 40px;
    width: 130px;
    border-radius: 1.2em;
}
.about{
    justify-content: center; 
    color: white;
    position: absolute;
    top:50%;
    text-align: center;
}


 button {
    background-color: #FFC71C;
    height: 40px;
    width: 150px;
    color: black;
    border-radius: 1.2em;
}